@font-face {
  font-family: 'MyWebFont';
  src: url("../fonts/10369.ttf")  format('truetype');/* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family:"MyWebFont",sans-serif!important;
  font-weight: 100!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header_menu .container{
  max-width: 1340px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0.1px 20px 0.1px #116f41;
  z-index: 999;
}

.header_menu a{
  font-size: 20px;
  color: white!important;
}
body,html{
  height: 100%;
  width: 100%;
}
.navbar,#root,.wrapper{
  height: 100%;
}

.green{
  background: black;
}
.ellipse{
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  bottom: 10px;
  left: 10px;
  background: white;
  border-radius: 30px;
  position: absolute;
}
.icon-shopping{
  position: relative;
}
.white_img{
  filter: invert(1);
  width: 21px;
  height: 21px;
}
.link_logo:hover small{
  color: #00fa0c;
}
.link_logo small{
  color: #116f41;
  font-weight: 900;
}
.link_logo small{
  position: relative;
  left: 70px;
bottom: 15px;
}
#navbarSupportedContent .dropdown-menu{
  background: black;
  border: 1px solid #116f41;
}
#navbarSupportedContent .navbar-nav li:hover{
  background: #116f41;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #116f41!important;
}
footer{
  position: relative;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0.0001px 20px 0.0001px #116f41;
  background: black;
}