.section_center {
  background-image: url("https://www.wallpaperflare.com/static/908/683/702/abstract-dark-black-background-digital-art-wallpaper.jpg");
  padding-top: 86px;
  background-position: center center;
  background-size: cover;
}

.section_center {
  color: white;
}

.container_catalog{
min-height: 960px!important;
}

.section_center .container {
  max-width: 1340px;
  min-height: 960px;
}
.l_container{
  height: 100%;
}
.section_top{
  height: 100%;
}


.background {
  position: absolute;
  background-image: url(/public/img/backgraund.png);
  height: 100%;
}

#particle-canvas {
  width: 100%;
  height: 100%;
}


.section_center .container>p {
  font-size: 38px;
}

.section_center .container>h1 span {
  color: #116f41;
}

.section_center .container>h1 {
  max-width: 897px;
}

svg {
  width: 100%;
  height: 100%;

}

#app {
  width: 100%;
  height: 100%;

}

#hitRing {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto;
}

.button_size {
  top: 60px;
  z-index: 0;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  position: relative;
}

.click_svg {
  height: 800px;
}

.st0 {
  fill: red !important;
  opacity: 0.5;
  stroke: white;
  stroke-width: 2px;
}

.st1 {
  display: block !important;
  opacity: 0;

}

.st2 {
  display: inline;
  fill: blue !important;
  opacity: 0.5;
  stroke: white;
  stroke-width: 2px;
  z-index: 0 !important;
}

.modal_computer>div {
  width: 700px;
  margin: 0 auto;
}

.modal_computer.active {
  animation: opacity-two 1s linear;
}

.modal_computer {
  display: none;
}

.svg_animation.active {
  animation: opacity 1s linear;
}

@keyframes opacity {
  100% {
    opacity: 0;
  }
}

@keyframes opacity-two {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.filter_all{
  padding: 0px;
}
#CPU,
#Memory,
#Video_x5F_CARD,
#CD,
#SSD,
#HDD,
#Power_x5F_BLOCK,
#Fan {
  opacity: 0;
  position: relative;
  z-index: 1;
}

#Mother_x5F_BOARD {
  opacity: 0;
  position: relative;
  z-index: 0;
}

#Mother_x5F_BOARD:hover {
  opacity: 1;
  cursor: pointer;
}

#CPU:hover,
#Memory:hover,
#Video_x5F_CARD:hover,
#CD:hover,
#SSD:hover,
#HDD:hover,
#Power_x5F_BLOCK:hover,
#Fan:hover {
  opacity: 1;
  cursor: pointer;
}

.text_catalog {
  border-bottom: 1px solid black;
  padding-left: 0px;
  height: 50px;
  align-items: center;
}

.container_items {
  margin-top: 20px;
}

.item_block {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  flex: 1;
  height: 400px;
  max-width: 300px;
  min-width: 300px;
}

.categorySelect {
  display: none;
}

.filter_proisvoditel {
  position: relative;
}

.filter_TitleName {
  position: relative;
  cursor: pointer;
}

.filter_TitleName.active svg {
  transform: rotate(-90deg)translate(50%, 0%);
}

.filter_TitleName svg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: rotate(90deg)translate(-50%, 0%);
  right: 10px;
}

.categorySelect.active li:hover {
  background: blue;
  color: white;
  cursor: pointer;
}

.categorySelect.active {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 24px;
  left: 0px;
  background: white;
  padding: 0px;
  list-style: none;
  width: 100%;
}

.Select_header {
  max-width: 200px;
  font-size: 16px;
}

.ItemsSelect ul {
  padding: 0px;
}

.item_block p {
  font-size: 14px;
}
.image_product img{
  max-width:175px;
min-height: 100px;
}

.image_product{
  height: 100%;
}
.green_color {
  color: green;
}

.price {
  margin-right: 1px;
  margin-left: 1px;
  font-weight: 600;
}

.price_list {
  font-weight: 600;
}

* {
  outline: none;
}
.button_price button{

  display: flex;
  align-items: center;
  min-height: 30px;

}
.button_price {
  justify-content: space-between;
  margin-top: 10px;
  min-height: 30px;
}

.text_item {
  min-height: 100px;
}

.tovar_basket {
  display: none;
  right: -400px;
  position: absolute;
  top: 88px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tovar_basket {

  max-height: 600px;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.background_container {
  border-radius: 5px;
  background: white;
  color: black;
}

.text_top {
  font-weight: 600;
  font-size: 18px;
}

.text_oglav {
  font-size: 30px;
  font-weight: 600;
}

.text_border {
  margin-bottom: 10px;
}

.text_border a:hover {
  color: green;
}

.image_about {
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
}

.image_about img {
  max-height: 500px;
}

.text_border a {
  color: #000;
}

.text_catalog>span:nth-child(n+2) {
  display: none;
}

.google_maps iframe {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 20px 30px 100px 10px rgba(0, 0, 0, 0.5);
}

.tovar_basket.active {
  display: block;
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tovar_basket.active-left {
  display: block;
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    right: 0;
  }

  100% {
    right: -400px;
  }
}

@keyframes scale-in-hor-left {
  0% {
    right: 0;
  }

  100% {
    right: -400px;
  }
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
    right: 0;
  }
}

@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
    right: 0;
  }
}

.tovar_basket button {
  display: none;

}

.icon-shopping {
  position: relative;
}

.result {
  margin-left: 1px;
  margin-right: 1px;
}

.result_Text {
  border-bottom: 2px dashed;
  font-size: 18px;
}

.result_Text .basket_none {
  display: none;
}

.result_Text.active .basket_none {
  display: block;
}

.result_Text.active span {
  display: none;
}

.container_all {
  height: 500px;
  margin-top: 50px;
}

.navbar-toggler {
  background: white;
}

.click_svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:780px) {
  .navbar-toggler {
    padding: 1px !important;
  }

  .item_block {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    flex: 1 1;
    max-width: 277px;
    padding: 10px !important;
    min-width: 242px;
  }

  .container_all {
    flex-direction: column;
    margin-top: 20px;
  }

  .container_items {
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: nowrap !important;
    align-items: center;
  }

  .container_catalog>div {
    margin-bottom: 20px;
  }

  .custom-select {
    font-size: 11px;
    padding: 5px;
    line-height: 15px;
    height: 30px;
  }

  .button_price {
    font-size: 14px;
  }

  .text_catalog {
    font-size: 12px;
    white-space: nowrap;
    display: flex;
  }

  .Select_header {
    margin-left: auto !important;
    margin-right: 0px !important;
  }

  .container_catalog {
    flex-direction: column !important;
  }

  #navbarSupportedContent>div {

    margin-bottom: 20px;
    margin-left: 0px !important;
  }

  #navbarSupportedContent>ul {
    margin: 0px !important;
  }

  .container_all {
    height: 275px;
  }

  .modal_computer>div {
    width: 100%;
  }

  .section_center .container>h1,
  .button_size {
    font-size: 30px;
    text-align: center;
  }

  .tovar_basket {
    max-height: 351px;
  }

  .tovar_basket .image_product {
    width: 100%;
  }

  .tovar_basket .item_block {

    max-width: 201px;
    min-width: 216px;
  }

  .click_svg {
    height: 450px;
  }
}